<%- include('../particle/header.ejs') %>
        <div class="block">
            <script type="text/javascript" src=
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" 
                     integrity=
            "sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" 
                     crossorigin="anonymous" 
                     referrerpolicy="no-referrer">
                $(document).ready(function(){                
                      $(window).bind('scroll',fetchMore);
                 });
              
                 fetchMore = function (){
                     if ( $(window).scrollTop() >= $(document).height()-$(window).height()-300 ){
                         $(window).unbind('scroll',fetchMore);
                          $.post('ajax/ajax_manager.php',{'action':'moreReviews','start':$('.review').length,'step':5 },
                          function(data) {
                             if(data.length>10){
                                  $(data).insertBefore($('#moreHolder'));
                                  $(window).bind('scroll',fetchMore);
                             }
                          });
                      }
                 }
              </script>
            <header>
                <% if(error != false){ 
                    console.log(error); %>
                    <div class="error"><%=error%></div>
                <%}%>    
                <h1>Всем БУМ &#128165; </h1>
                <div class="block2">
                    Добро пожаловать на официальный сайт Life & Fantasy &#128165; (Он пока в разработке) Но всё равно спасибо за посещение!
                </div>
                 <br>
                 Создатель сайта: <a href="https://vk.com/dani.motrenko">Даниил Мотренко</a> 
                 <br>
            </header>
            <br>
            <div class="navigation">
                <a href="/">Все</a>
                <% for (let i = 0; i < dot.length; i++) {%>
                <a href="/home/<%=dot[i].id%>"><%=dot[i].name%></a>
                <% }%>
            </div>
            <form action="/photo" class="inlineform">
                <button type="submit" class="pla">Добавить фото</button>
            </form>
            <% if (admin == promocode & auth == true) { %><form action="/offerlist" class="inlineform"><button type="submit" class="pla">Предложенные</button></form>
            <form action="/catform" class="inlineform">
                <button type="submit" class="pla">Добавить категорию</button>
            </form>
            <%}%> 
            <br>
            <div class="objects">
                <% for(let i = 0; i < items.length; i++ ){ %>
                        <div class="inline">
                            <a href="/Items/<%= items[i].id %>" class="nodec">
                                <h2> <%=items[i].title %> </h2>
                                <img src="/uploads/<%=items[i].filename %>" alt="/" class="image">
                                <% if (admin == promocode) {%>
                                <form action="/delete" method="POST">
                                    <input type="number" name="id" value="<%= items[i].id %>" hidden>
                                        <button type="submit" id="sub" hidden></button>
                                        <label for="sub" class="custom-file-delete">
                                            Отправить
                                        </label>
                                </form> <br>
                                <%}%>
                            </a>
                        </div>
                    <% } %>
                
            </div>
            <br>
            <div>

</div>
                </div>
         <%- include('../particle/footer.ejs') %>