<%- include('../particle/header.ejs') %>
<script>
    let array;
</script>
        <div class="block">

            <header>
                <% if(error != false){ 
                    console.log(error); %>
                    <div class="error"><%=error%></div>
                <%}%>    
                <h1>Всем БУМ &#128165; </h1>
                <div class="block2">
                    Добро пожаловать на официальный сайт Life & Fantasy &#128165; (Он пока в разработке) Но всё равно спасибо за посещение!
                </div>
                 <br>
                 Создатель сайта: <a href="https://vk.com/dani.motrenko">Даниил Мотренко</a> 
                 <br>
            </header>
            <br>
            <div class="navigation">
                <a href="/">Все</a>
                
                <% for (let i = 0; i < dot.length; i++) {%>
                <a href="/home/<%=dot[i].id%>"><%=dot[i].title%></a>
                <% }%>
            </div>
            <form action="/photo" class="inlineform">
                <button type="submit" class="pla">Добавить фото</button>
            </form>
            <% if (admin == promocode & auth == true) { %> 
                <% if(many != 0) {%>
                    <form action="/offerlist" class="inlineform"><button type="submit" class="pla1"><%='Предложенные: ' + many%></button></form>
                <%}%>
            <form action="/catform" class="inlineform">
                <button type="submit" class="pla">Добавить категорию</button>
            </form>
            <%}%> 
            <br>
            <div class="objects">
                <% for(let i = 0; i < items.length; i++ ){ %>
                        <div class="inline">
                            <a href="/Items/<%= items[i].id %>" class="nodec">
                                <h2 class="titleone"> <%=items[i].title %> </h2>
                                <% 
                                let b = items[i].categories;
                                
                                b = b.map(el => {
                                    return el.category;
                                });
                                %>
                                <span id="content"></span>
                                        <script> 
                                            array = JSON.parse('<%- JSON.stringify(b)%>');
                                            console.log(array);
                                            for(let i = 0; i < array.length; i++){
                                                let content = document.getElementById('content');
                                                let h3 = document.createElement('h3');
                                                h3.classList.add('section__category');
                                                h3.style.backgroundColor = array[i].color;
                                                h3.innerText = array[i].title;

                                                content.appendChild(h3);
                                            }
                                        </script>
                                <img src="/uploads/<%=items[i].filename %>" alt="/" class="image">
                                <% if (admin == promocode) {%>
                                <form action="/delete" method="POST">
                                    <input type="hidden" name="id" value="<%= items[i].id %>" >
                                        <input type="submit" id='<%="sub" + items[i].id%>' hidden class="sub">
                                        <label for="<%="sub" + items[i].id%>" class="custom-file-delete">
                                            Удалить
                                        </label>
                                        
                                </form> <br>
                                <%}%>
                            </a>
                        </div>
                    <% } %>
                
            </div>
            <br>
            <div>

</div>
                </div>
         <%- include('../particle/footer.ejs') %>