<%- include('../particle/header.ejs') %>        
<style>
    body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        margin-left: 180px;
        border-radius: 12px;
    }
    @media (max-width: 480px) {
        #form {
            margin-left: 20px;
        }
    }
    #input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;
    }

    #input:focus {
        outline: none;
    }

    #form>button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
    }

    #messages {
        list-style-type: none;
        padding: 0.4%;
        width: 70%;
        margin: auto;
        max-width: 70%;
    }

    #messages>li {
        width: 70%;
        margin: auto;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        margin-bottom: 5px;
        word-break: break-all;
    }
    #messages>li.your {
                background-color: green;
    }
    #messages>li.ny {
                background-color: lightgreen;
            }
</style>
<script>
    let word = ["автобус", "автомобиль", "автор", "агентство", "адвокат", "администрация", "академия", "аккаунт", "актер", "актив", "акция", "алгоритм", "алименты", "алкоголь", "аллея", "алмаз", "алфавит", "амбар", "амбулатория", "американец", "анализ", "анекдот", "анкета", "анонимность", "антибиотик", "апартаменты", "апельсин", "апостол", "аппарат", "аптека", "арбуз", "арена", "аристократ", "армия", "аромат", "артист", "архив", "архитектор", "ассортимент", "астрономия", "атмосфера", "атрибут", "аудитория", "аукцион", "афера", "аэропорт", "баба", "бабушка", "багаж", "база", "бак", "бал", "баланс", "балет", "банан", "банк", "банкет", "баня", "бар", "баран", "барак", "бард", "барельеф", "барон", "барьер", "бас", "бассейн", "батарея", "батон", "батут", "башня", "бахрома", "бег", "беда", "бедность", "беженец", "бездна", "безопасность", "белок", "белье", "бензин", "берег", "береза", "беседа", "бесконечность", "беспорядок", "бетон", "библиотека", "билет", "бинокль", "биржа", "бисер", "битва", "благодарность", "благополучие", "блеск", "близнецы", "блокнот", "блондинка", "блюдо", "боб", "бог", "богатство", "бодрость", "боевик", "бок", "бокал", "болезнь", "больница", "бомба", "бордель", "борода", "борт", "ботинок", "бочка", "боярин", "брак", "брама", "брат", "бревно", "бригада", "бровь", "брод", "бронза", "брошюра", "брус", "бубен", "бугор", "будущее", "буква", "букет", "булава", "булка", "бульвар", "бумага", "бунт", "буря", "бутерброд", "бутылка", "буфет", "бухта", "бушлат", "бывалый", "бык", "быстрота", "бюджет", "бюро", "бюст", "вагон", "важность", "ваза", "вакансия", "вал", "валенок", "валерьянка", "валет", "валюта", "ванна", "варенье", "вариант", "василек", "вата", "ватрушка", "ваучер", "вдова", "вдохновение", "ведомость", "ведро", "вездеход", "век", "велосипед", "величие", "вена", "венец", "вера", "верблюд", "веревка", "верность", "вертолет", "вес", "веселье", "весна", "весы", "ветвь", "ветер", "ветка", "ветчина", "вечер", "вещество", "вещь", "взгляд", "взвод", "взятка", "взятие", "вид", "видение", "виза", "визит", "викторина", "вилка", "вина", "винегрет", "виноград", "вино", "винт", "виолончель", "виртуоз", "висок", "витамин", "витрина", "вихрь", "вишня", "вклад", "вкус", "власть", "влечение", "влияние", "внедорожник", "внимание", "внук", "внутренность", "внучка", "военный", "воздействие", "воздух", "вой", "война", "вокал", "вокзал", "волк", "волна", "волнение", "волос", "волшебник", "воля", "вопль", "вопрос", "вор", "ворота", "воротник", "вороны", "воск", "воскрешение", "воспаление", "воспитание", "восстановление", "восторг", "восьмерка", "вотчина", "вошь", "враг", "врач", "время", "вручение", "вторжение", "вторник", "втулка", "вуаль", "вуз", "вход", "выбор", "вывеска", "выгода", "выдержка", "выдох", "выезд", "выигрыш", "выключатель", "вымысел", "выносливость", "выпечка", "выпивка", "выполнение", "выпуск", "выражение", "выручка", "высокогорье", "выстрел", "высшее", "выход", "вьюн", "вязание", "вятич", "гадание", "газ", "газета", "галерея", "галстук", "гамма", "гантель", "гараж", "гардероб", "гармония", "гарнизон", "гастроном", "гвоздь", "гектар", "гель", "генерал", "гений", "география", "герб", "герой", "гигант", "гильза", "гимн", "гирлянда", "гитара", "глава", "глаз", "глубина", "глушитель", "глянец", "гнев", "гнездо", "гном", "год", "гол", "голод", "голова", "голос", "гольф", "гонка", "гора", "гордость", "горизонт", "горло", "горн", "город", "горох", "горшок", "госпиталь", "гостиная", "гость", "грабеж", "град", "гражданин", "грамм", "гранат", "граница", "грань", "граф", "гребень", "грех", "гречка", "гриб", "грим", "гроб", "гроза", "гром", "грош", "грубость", "груз", "грунт", "группа", "груша", "грызун", "грязь", "губа", "гудок", "гул", "гулянка", "гуманность", "густота", "гусь", "давление", "дар", "дата", "дверь", "двигатель", "движение", "двойник", "двор", "дворец", "дева", "девочка", "дед", "дедушка", "действие", "декабрь", "дело", "демон", "день", "департамент", "деревня", "дерево", "десерт", "десяток", "деталь", "детство", "детство", "детская", "дефект", "деятельность", "джаз", "джентльмен", "джинсы", "джип", "диагноз", "диалог", "диван", "дизайн", "дикость", "дилер", "динамит", "диплом", "директор", "диск", "диспетчер", "дитя", "дичь", "длина", "дневник", "добро", "добыча", "договор", "додо", "дождь", "доза", "документ", "доктор", "долг", "долина", "должность", "дом", "домик", "дон", "дополнение", "дорога", "доска", "доставка", "достаток", "достижение", "достоинство", "дочь", "дощ", "драка", "драма", "древесина", "дрель", "дрожь", "друг", "дружба", "дуб", "дуга", "дудка", "дуза", "дуло", "дума", "дура", "дурак", "дух", "душица", "душман", "дым", "дыня", "дыхание", "дышло", "дьявол", "дюйм", "дюна", "дятел", "егерь", "еда", "еж", "ежедневник", "ежик", "езда", "екатеринбуржец", "екатеринбург", "ель", "емкость", "енот", "епископ", "ерунда", "естественность", "есть", "жало", "жанр", "жара", "жасмин", "жатва", "жгут", "желание", "железо", "желоб", "желток", "желудок", "желудь", "жемчуг", "жених", "женщина", "жеребец", "жердь", "жест", "жетон", "живопись", "жизнь", "жила", "жилет", "жилище", "житель", "жук", "журнал", "журчание", "забег", "забор", "заведение", "завещание", "зависть", "завод", "загадка", "заголовок", "заготовка", "задание", "задача", "зажигалка", "займ", "закат", "закон", "зал", "залог", "замена", "заметка", "замок", "занавес", "занятие", "западня", "запах", "записка", "заполнение", "запрос", "запуск", "заработок", "зарница", "зарплата", "заседание", "заслонка"];
</script>
<ul id="messages">
    <% console.log(mess);
    for(let i = 0; i < mess.length; i++){
        let a = new Array;
        a.push(mess[i].User);
        // let b = a[0].name;
        let avatar = a[0].Emoji;
        let name = a[0].username;
        // console.log(a, name, avatar);
        var space = ' ';
        let del = false;
        function splitString(stringToSplit, separator) {
            // console.log('"' + stringToSplit + '"');
            var arrayOfStrings = stringToSplit.split(separator);
            return arrayOfStrings;
            }
        var onlyname = splitString(name, space); 
%>
            <li class="<%if(mess[i].user_id == sess) {%>your<% del = true } else {%>ny<%}%>"><span class="nickname">&<%=avatar%> <%=onlyname[0]%>: </span><%= mess[i].text %> <span class="sendtime"><%=mess[i].created_at %></span> <% if (del == true) {%>
                <form action="/delmsg" method="post" class="delma" id="delma">
                <input type="text" name="msgid" value="<%=mess[i].id%>" hidden>
                <div id="block__btn" class="block__btn"><button type="submit" id="delm" class="delm"><img src="img/bin.png" alt="/" class="image_bin"></button>
                </div>
                </form>
                <% } %></span></li>
    <% } %>
</ul>
    <form id="form" action="/chat" method="post">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
        <script src="/js/socket.io.js"></script>
        <script charset="UTF-8" type="text/javascript">
            let socket = io();
    
            let messages = document.getElementById('messages');
            let form = document.getElementById('form');
            let input = document.getElementById('input');
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                if (input.value) {
                    socket.emit('chat message', {
                        'content': input.value,
                        'user': "<%= sessname %>",
                        'emoji': "<%= sessava %>",
                        'id': "<%=sess%>",
                    });
                    input.value = '';
                }
            });

            socket.on('chat message', function (msg) {
                let item = document.createElement('li');
                // 
                if ('<%=sess%>' == msg.id) {
                    item.classList.add('your');
                } else {
                    item.classList.add('ny');
                }
                var space = ' ';
                function splitString(stringToSplit, separator) {
                    console.log('"' + stringToSplit + '"');
                    var arrayOfStrings = stringToSplit.split(separator);
                    console.log(arrayOfStrings);
                    return arrayOfStrings;
                    }
                // let form = document.getElementById("Button").innerHTML='<form action="add.php" method="post" onSubmit="track(\'P1\');">'+
                //     '<input type="text" name="msgid" value="" hidden>'+
                //     '<button type="submit" id="delm" class="delm"><img src="img/bin.png" alt="/" class="image_bin"></button></form>';
                var onlyname = splitString(msg.user, space);
                let span = document.createElement('span');
                span.classList.add('nickname');
                span.innerText = (onlyname[0] + ': ');
                item.appendChild(span);
                let light = ('&' + msg.emoji + '&nbsp')
                item.innerHTML = light + item.innerHTML;
                let now = new Date();
                let nowtime = now.getHours() + ":" + now.getMinutes()
                item.innerHTML += msg.content;
                let spantime = document.createElement('span');
                spantime.classList.add('sendtime');
                spantime.innerText = (' ' + nowtime);
                item.appendChild(spantime);
                // item.textContent = text;
                // console.log(sessname);
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
                // location.reload()
            });
        </script>
<%- include('../particle/footer.ejs') %>    