<%- include('../particle/header.ejs') %>
<h2>Выбрать категорию</h2>       
    <form action="/catadd" method="post">
    <input type="hidden" value="<%=params%>" name="id">
    <div class="form-group">
        <% for(let i = 0; i < data.length; i++) { %>
            <p class="checkright"><input type="checkbox" name="catID" class="checkcat" value="<%=data[i].id%>" checked><%=data[i].title%></p>
        <%}%>
            <% if (typeof notin !== 'undefined' && notin.length > 0) {
            for(let i = 0; i < notin.length; i++) {%>
                <p class="checkright"><input type="checkbox" name="catID" value="<%=notin[i].id%>" class="input" id="check"><%=notin[i].title%></p>
            <% } }%>
    </div>
    <button class="submit-button" type="submit">Сохранить</button>
</form>
<a href="/items/<%=params%>">Назад</a>
<%- include('../particle/footer.ejs') %>
