<%- include('../particle/header.ejs') %>
<a href="/">
    <img class="back-arrow" src="/img/back-arrow.png">
</a>    
                <br>
                <div class="block">
                    <% for(let i = 0; i < Items.length; i++ ){ %>
                            <div class="inline">
                                    <h2> <%=Items[i].title %> </h2>
                                    <p><%=Items[i].text %></p>
                                    <img src="/uploads/<%=Items[i].image %>" alt="/" class="image">
                                    <label for="image"><%=Items[i].author %></label>
                                    <% if (admin == promocode) {%> 
                                    <form action="/deleteof" method="POST">
                                        <input type="number" name="id" value="<%= Items[i].id %>" hidden>
                                            <button type="submit">Удалить</button>
                                        
                                    </form> <br>
                                    <form action="/submit" method="POST">
                                        <input type="number" name="id" value="<%= Items[i].id %>" hidden>
                                            <button type="submit">Принять</button>
                                        
                                    </form> <br>
                                    <%}%>
                            </div>
                        <% } %>
                        
         <%- include('../particle/footer.ejs') %>