<%- include('../particle/header.ejs') %>
<div class="area">
    <h1>&<%=userdata.Emoji%><%= userdata.username %></h1>
    <p><%= userdata.Info %></p>
    <% if(params == vkid) { %>
        <h1 class="money"><%=bal%> &#x20bd;</h1>
        <form action="/msg" class="inlineform">
            <button type="submit" class="pla">Сообщения</button>
        </form>
        <form action="/logout" method="post" class="inlineform">
            <% if(auth == true) {%><button type="submit" class="pla">Выйти</button><% } %>
        </form>
    <%}%>
</div>
<%- include('../particle/footer.ejs') %>