<%- include('../particle/header.ejs') %>
<link rel="stylesheet" href="/Css/styles.css">
<link rel="stylesheet" href="/Css/evo-calendar.min.css">
<link rel="stylesheet" href="/Css/evo-calendar.midnight-blue.min.css">
<link rel="stylesheet" href="/Css/evo-calendar.royal-navy.min.css">
<link rel="stylesheet" href="/Css/evo-calendar.orange-coral.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
<!-- Add jQuery library (required) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<!-- Add the evo-calendar.js for.. obviously, functionality! -->
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
<div class="hero">
    <%=items[0].id%>
    <div id="calendar"></div>
    <div class="addev">
        <a href="addevent" class="addevent">Добавить событие на сегодня</a>
    </div>
</div>
<script>
    console.log("<%=JSON.stringify(items)%>");
    $('#calendar').evoCalendar({
        firstDayOfWeek: 1,
        calendarEvents: [
            {
                id: "<%=items[0].id%>",
                name: "<%=items[0].name%>", 
                date: "<%=items[0].date%>", 
                description: "<%=items[0].description%>",
                type: "holiday", 
                everyYear: true,
                color: "<%=items[0].color%>"
            }
        ]
    })
  </script>

<%- include('../particle/footer.ejs') %>